<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

<title> P. Engenharia>
</title>

  </head>
  <body>
<h1> String Java: Cadastro de Aluno</h1>

<form class="col-5" th:action="@{/saveStudent}" th:object="${student}" method="post">
	
	 <div class="form-group">
	    <label for="exampleFormControlInput1">Informe nome do aluno</label>
	    <input type="text"  th:field="*{name}"class="form-control" id="name" placeholder="Digite o novo do nome aluno">
	 </div>
	  
	 <div class="form-group">
	    <label for="exampleFormControlInput1">Informe Endereço do aluno</label>
	    <input type="text" th:field= "*{address}"id="address"  class="form-control" placeholder="Digite o endereço do aluno">
	 </div>
	  
	<div class="form-group">
	    <label for="exampleFormControlInput1">Informe E-mail do aluno</label>
	    <input type="email"  th:field=*{email} id="email"  class="form-control" placeholder="Digite o email do aluno">
	</div>
	  

	  <button type="submit" class="btn btn-primary">Enviar</button>

</form>

<div class"container"> <br>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    -->
<a th:href="@{/}"> Página Inicial </a>    
  </body>
</html>