<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

<title> P. Engenharia>
</title>

  </head>
  <body>
<h1> Spring Boot Oracle database, Hibernate, Thymeleaf</h1>
<h2> Cadastro de aluno </h2>
<a th:href="@{/saveStudentPage}" class= "btn btn-primary btn-sm">Adicionar novo Aluno</a>
<table class= "table table-striped">

  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nome do Aluno</th>
      <th scope="col">Endereço</th>
      <th scope="col">Email</th>
        <th scope="col">Ação</th>
    </tr>
  </thead>
    
 
    </tr>
    <tr th:each="student: ${studentlist}">
    
      <th th:text="${student.id}" scope="row"></th>
      <td th:text="${student.name}"></td>
      <td th:text="${student.address}"></td>
      <td th:text="${student.email}"></td>
      
      <td>
      
         <a th:href="@{/updateStudentPage/{id}(id=${student.id})}" class="btn btn-primary">Atualizar</a>
         <a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-danger">Deletar</a>
      </td>
      <td>
</table> 

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    -->
  </body>
</html>